*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.card{
  width: 300px;
  border: 2px solid yellow;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #dbd77c;
 
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card h1{
  padding: 10px 20px;
}
.card p{
  padding: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;

}